@import url('./theme.scss');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100dvh;
  background-color: var(--color-background);
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

